body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.heading {
    height: 25px;
    background-color: #73C6B6 ;
    display:inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    width:80%;
    margin: 0px auto;

    padding: 10px 10px 10px 10px;
}

.main {
    display:inline-block;
    text-align: left;
  
    font-size: 14px;
    width:80%;
    padding: 10px 10px 10px 10px;
    display:grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 100%  100%;
    grid-template-areas: 
   "lef  rig "
   "bel  bel";
}

.leftC {
    grid-area: lef;
    text-align: left;
    box-sizing: border-box;
}



.rightC {
    grid-area: rig;
    text-align: left;
    
}

.below {
    grid-area: bel;
    height: 30px;
    background-color: #eeeeee;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
}

.bcontent {
    width:100px;
    margin: 0px 30%;
}

input[type="submit"] , input[type="reset"]{
    background-color: #73C6B6 ;
    color:#fff;
    width:70px;
    height:30px;
}

input[type="text"], select , textarea, input[type="email"] {
    width:30%;
}
.subtitle {
    text-decoration: underline;
    margin: 20px 0px;
}
.subtitlemain {
    text-decoration: underline;
    margin: 20px 10px;
    text-align: left;
    font-size: 14px;
}
label {
    display:inline-block;
    width:35%;
}
.must {
    color:red;
}




